.titulo{
    padding: 20px;
    text-align: center;
    color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;    
    border-radius: 40px
}

.lema{
    text-align: center;
    background-color: yellowgreen;
    color: black;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
}

.Receta{
    margin: 40px 0;
}

.receta-titulo{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
    color: yellow;
    background-color: black;

border-radius: 15px;
text-align: center;
font-size: 20px;

}
.ingredientes{
    color: black;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 20px;

}
.imagen-maki{
        border-radius: 10px;
        width: 120px;
        margin: 10px;

}
